body {
  /* Linear gradient, 0% color is on the right */
  background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
  width: 100vw;
  height: 100vh;
  font-family: "Futura PT";

  /* Ensures no phantom scrollbars */
  display: flex;
}

/* TITLE AND HEADER SIZINGS */
/* ************************************ */
#title {
  font-size: 5rem;
}

.linkheading {
  font-size: 3rem;
}

.linkrow {
  margin-top: 15vh;
}

.bracket {
  font-weight: bolder;
}
/* ************************************ */


/* CARD STYLING */
/* ************************************ */
.card {
  /* background: rgba(89, 74, 78, 0.41); */
  background: rgba(227, 213, 209, 0.5);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.project {
  font-size: 1.75rem;
}

.projectLink {
  text-decoration: none;
  color: rgba(89, 74, 78, 0.41);
}

.projectLink:hover {
  text-decoration: none;
  color: #fcb69f;
}


.navigate, .navigate:hover {
  text-decoration: none;
  color: #212529;
}
/* ************************************ */


/* ARROW ANIMATION */
/* ************************************ */
.bracket.active.arrow {
  display: flex;
  align-items: center;
  height: 40px;
  animation: 0.5s bounce ease infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
