body {
  /* background-color: #e6e5e1; */
  /* background-color: #004400; */
  background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
  width: 100vw;
  height: 100vh;
  font-family: "Fira Sans";
}

#title {
  font-size: 5rem;
}

.linkheading {
  font-size: 3rem;
}

.linkrow {
  margin-top: 15vh;
}

.bracket {
  font-weight: bolder;
}

.card {
  background: rgba(89, 74, 78, 0.41);
}